body,html{
 margin: 0;
 padding: 0;
}
 
header{
 width: 100%;
 height: 70px;
 background-color: #282828;
}
 
h1{
 position: absolute;
 padding: 3px;
 float: left;
 margin-left: 2%;
 margin-top: 8px;
 font-size: 40px;
 font-family: 'Alfa Slab One', cursive;
 color: #39ca74;
}
 
span{
 color: #ADD8E6;
}
 
ul{
 width: auto;
 float: right;
 margin-top: 8px;
}
 
li{
 display: inline-block;
 padding: 15px 30px;
}
 
a{
 text-align: center;
 color: #ffffff;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
}
 
a:hover{
 color:#ADD8E6;
 transition: 1s;
}
 
section{
 width: 100%;
 height: 1000px;
 background: linear-gradient(to right,#39ca74,lightblue)
}
 
footer{
 width: 100%;
 height: 40px;
 background-color: #282828;
 position: fixed;
 bottom: 0;
}
 
footer h1{
 font-size: 20px;
 margin-left: 36%;
}
 
footer span{
 color: #ADD8E6;
}
 
div{
 font-family: 'Open Sans', sans-serif;
}

img{
  margin-left: 70%;
  width: 600px;
  position: relative;
  top: -45px;
  left: -200px;

}

p{
  position: relative;
  left: 50px;
}